.header {
  width: 100%;
  height: 300px;
  background-image: url('/content/images/bg2.jpeg');
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
}

#title {
  color: #150142;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 25px;
  font-family: 'Titillium web', sans-serif;
}

#form-action {
  max-width: 90%;
  margin: 0 auto;
}

#list {
  width: 90%;
}
